<ion-view class="active-wrap bookingjoin-tab friends-list">
	<ion-nav-view name="intive-tab" class="booking-tab-invite"></ion-nav-view>
	<ion-tabs class="tabs-striped tabs-top tabs-color-calm">
	
		<ion-tab title="진행중" href="#/app/bookingTabs/invite" badge="badgeCount.bookingcnt" badge-style="badge-assertive" class="bold font16 booking-tabs-invite-badge">
			
		</ion-tab>
		
		<ion-tab title="취소•완료" href="#/app/bookingTabs/request" badge="badgeCount.bookingendcnt" badge-style="badge-dark" class="bold font16">
	  		<ion-nav-view name="request-tab"></ion-nav-view>
		</ion-tab>

	</ion-tabs>

</ion-view>