<ion-view view-title="아이디 찾기" >
	<ion-nav-bar class="bar-positive">
		<ion-nav-back-button></ion-nav-back-button>
	</ion-nav-bar>

	<ion-content>
		<form name="findByNickNameForm" ng-submit="submitByNickNameForm(findByNickNameForm)" novalidate>
			<div class="card">
				<div class="list">
					<div class="item item-divider bold">
						닉네임으로 찾기
					</div>
					<div ng-class="{ 'has-error' : findByNickNameForm.nickname.$invalid && !findByNickNameForm.nickname.$pristine }">
						<label class="item item-input">
							<span class="input-label">닉네임</span>
							<input type="text" name="nickname" ng-model="nickname" required>
						</label>
					</div>
					<div class="item">
						<button type="submit" class="button button-block button-positive" ng-disabled="findByNickNameForm.$invalid">확인</button>
					</div>
				</div>
			</div>
		</form>

		<form name="findByRealNameForm" ng-submit="submitByRealNameForm(findByRealNameForm)" novalidate>
			<div class="card findid-personal">
				<div class="list">
					<div class="item item-divider bold">본인확인으로 찾기 (본인인증 했을시)</div>
					<div ng-class="{ 'has-error' : findByRealNameForm.realname.$invalid && !findByRealNameForm.realname.$pristine }">
						<label class="item item-input">
							<span class="input-label">이름</span>
							<input type="text" name="realname" ng-model="setData.realname" required placeholder="이름을 입력하세요.">
						</label>
					</div>
					
					<div class="item item-input ymd-field">
						<span class="input-label">생년월일</span>
						<label for="BirthDate">
						<input type="date" name="BirthDate" id="BirthDate" ng-model="setData.BirthDate" required date-field />
						</label>
					</div>
					<div ng-class="{ 'has-error' : findByRealNameForm.gender.$invalid && !findByRealNameForm.gender.$pristine }">
						<div class="item item-input item-radio-m">
							<span class="input-label">성별</span>
							<ion-radio name="gender" ng-model="setData.gender" value="male">남</ion-radio>
	  						<ion-radio name="gender" ng-model="setData.gender" value="female">여</ion-radio>
	  					</div>
					</div>
					<div ng-class="{ 'has-error' : findByRealNameForm.phone.$invalid && !findByRealNameForm.phone.$pristine }">
						<label class="item item-input">
							<span class="input-label">휴대폰</span>
							<input type="text" name="phone" id="phone" ng-model="setData.phone" required placeholder="휴대폰을 입력하세요.">
						</label>
					</div>
					<div class="item">
						<button type="submit" class="button button-block button-positive" ng-disabled="findByRealNameForm.$invalid">확인</button>
					</div>
				</div>
			</div>
		</form>

		<!-- <form name="findBySmsForm" ng-submit="submitBySmsForm(findBySmsForm)" novalidate>
			<div class="card">
				<div class="list">
					<div class="item item-divider bold">
				    	휴대폰으로 찾기
					</div>
					<div ng-class="{ 'has-error' : findBySmsForm.nickname.$invalid && !findBySmsForm.nickname.$pristine }">
						<label class="item item-input">
							<span class="input-label">이름</span>
							<input type="text" name="rname" id="rname" ng-model="rname" required placeholder="이름을 입력하세요.">
						</label>
					</div>
					<div ng-class="{ 'has-error' : findBySmsForm.nickname.$invalid && !findBySmsForm.nickname.$pristine }">
						<label class="item item-input">
							<span class="input-label">휴대폰</span>
							<input type="text" name="phone" id="phone" ng-model="phone" required placeholder="휴대폰을 입력하세요.">
						</label>
					</div>
					<div class="item">
						<button type="submit" class="button button-block button-positive" ng-disabled="findBySmsForm.$invalid">확인</button>
					</div>
				</div>
			</div>
		</form> -->


	</ion-content>
</ion-view>