<ion-view class="friends-list bookingjoin-tab">

	<ion-tabs class="tabs-striped tabs-top">
	
		<ion-tab title="친구요청" href="#/app/friendstab/request" badge="badgeCount.newInvite" badge-style="badge-assertive" class="bold">
			<ion-nav-view name="request-tab"></ion-nav-view>
		</ion-tab>
		
		<ion-tab title="친구리스트" href="#/app/friendstab/friends" badge="badgeCount.friendCnt" badge-style="badge-positive" class="bold" >
	  		<ion-nav-view name="friend-tab"></ion-nav-view>
		</ion-tab>

		
		
	</ion-tabs>

	<!-- <ion-nav-view name="friend-tab"></ion-nav-view> -->

</ion-view>
