<ion-view view-title="회원가입" class="login-fields">
	<ion-nav-bar class="bar-positive">
		<ion-nav-back-button>
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content class="join-field">
		<div class="card text-center">
			<div class="item item-text-wrap">
				<h2>회원가입 방법을 선택하세요.</h2>
				<div class="social-login-naver margin-bottom" ng-click="naverLogin()">네이버 아이디로 가입</div>
				<div class="social-login-kakao margin-bottom" ng-click="kakaoLogin()">카카오 아이디로 가입</div>
				<div class="social-login-facebook" ng-click="facebookLogin()">페이스북 계정으로 가입</div>
				<!-- <h4>기존에 사용하시는 계정으로<br />간단하게 회원가입 하세요.</h4> -->
				<!-- <p><img ng-src="images/joinNaverButton.png" ng-click="naverLogin()"/></p>
				<p><img ng-src="images/joinKakaoButton.png" ng-click="kakaoLogin()"/></p>
				<p><img ng-src="images/joinFacebookButton.png" ng-click="facebookLogin()"/></p> -->
				<!-- <p><a href="#/joinForm"><img ng-src="images/joinEmailButton.png" /></a></p> -->
			</div>
		</div>
		<!-- <div class="login-text-field text-center">
			<a href="#/login">다른 계정으로 로그인</a>
		</div> -->

	</ion-content>
</ion-view>
