<ion-view view-title="부킹매니저 등록신청">

<ion-content class="booking-manager light-bg">

	<h4 class="padding positive bold" style="line-height: 180%">티샷은, 부킹매니저를 위한 부킹 & 조인서비스를 제공합니다.</h4>
	<div class="margin-top20 padding ">
		<h4 class="bold">▣ 부킹, 골프조인 등록안내문</h4>
    <dl>
      <dt class="padding-bottom">▶ 등록신청</dt>
      <dd class="assertive">① 회원가입 → ② 매니저 등록신청 → ③ 승인</dd>
    </dl>
    <dl>
      <dt class="padding-bottom">▶ 신청대상</dt>
      <dd>① 부킹에이전트 사업자</dd>
      <dd>② 개인(사업자 소속의 개인 및 프리랜서 포함)</dd>
    </dl>
    <dl>
      <dt class="padding-bottom">▶ 매니저혜택</dt>
      <dd class="assertive">• 입점, 등록비용 없습니다.</dd>
      <dd>• 1일 등록갯수의 제한이 없습니다.</dd>
      <dd>• 부킹 및 조인등록의 권한을 갖게됩니다.</dd>
      <dd>• 티샷 홈페이지에서 "관리자페이지" 제공</dd>
      <dd>→ 등록과 마감을 쉽게~ 진행상황을 한눈에 쏙~</dd>
    </dl>
    <dl>
      <dt class="padding-bottom">▶문의: 010-7301-3489 / 070-7763-3489</dt>
    </dl>
    <h4 class="bold">▣ 티샷의특징</h4>
    <dl>
    	<dd>티샷은, 러닝머신 기반의 "맞춤형 추천서비스"를 통한 골프 플래폼을 지향합니다.</dd>
   	</dl>
   	<dl>
    	<dd>• 회원 실명제로 가짜회원이 없습니다.</dd>
    	<dd>• 프로필(사진, 나이, 성별, 골프정보등)이 있기 때문에 회원정보를 참고하실 수 있습니다.</dd>
    	<dd>• 부킹 신청시 <span class="assertive">“예약자”</span>를 볼 수 있기 때문에 매니저와 예약자간 상호 신뢰성이 높습니다.</dd>
    	<dd>• 인공지능 CSP 기법과 러닝머신을 이용한 추천서비스를 제공할 수 있습니다.</dd>
   	</dl>

   	<h4 class="bold assertive">예) 부킹시 예약자 확인</h4>
   	<div class="text-center">
   		<img ng-src="images/manager.png">
   	</div>

   	<div class="margin-top20">
   		<button class="button button-block button-green" ng-click="bookingManagerRequest()">부킹매니저 등록신청</button>
   	</div>
  </div>

</ion-view>