<ion-view view-title="비밀번호 수정">
	
	

		<ion-nav-bar class="bar-positive">
			<ion-nav-back-button></ion-nav-back-button>
			<ion-nav-buttons side="right">
				<!-- Putting a return between the buttons causes them to be stacked on Android 4.4.2 -->
				<button type="button" class="button button-clear" ng-click="submitPassword()" ng-disabled="passwordForm.$invalid">확인</button>
			</ion-nav-buttons>
		</ion-nav-bar>
	<form name="passwordForm" id="passwordForm" novalidate>	
		<ion-content>
			<div class="list">
				<label class="item item-input">
					<span class="input-label">현재 비밀번호</span>
					<input type="password" name="old_password" ng-model="setData.old_password" placeholder="" required>
				</label>
				<label class="item item-input">
					<span class="input-label">변경할 비밀번호</span>
					<input type="password" name="new_password" ng-model="setData.new_password" placeholder="" required>
				</label>
			</div>
		</ion-content>

	</form>

</ion-view>
