<ion-view class="active-wrap bookingjoin-tab">

	<ion-tabs class="tabs-striped tabs-top tabs-color-calm">
	
		<ion-tab title="접속자" href="#/app/users/updated" badge-style="badge-assertive" class="bold">
			<ion-nav-view name="users-updated-tab"></ion-nav-view>
		</ion-tab>

		<ion-tab title="인기도" href="#/app/users/popular" badge-style="badge-assertive" class="bold">
	  		<ion-nav-view name="users-popular-tab"></ion-nav-view>
		</ion-tab>
		
		<ion-tab title="내주변" href="#/app/users/distance" badge-style="badge-assertive" class="bold">
	  		<ion-nav-view name="users-distance-tab"></ion-nav-view>
		</ion-tab>

		<ion-tab title="가입자" href="#/app/users/join" badge-style="badge-assertive" class="bold">
	  		<ion-nav-view name="users-join-tab"></ion-nav-view>
		</ion-tab>

	</ion-tabs>

</ion-view>