<ion-modal-view class="modal-pop-menu homeView" id="userMessagesView">
	<div class="ion-modal-content-custom">
		<div class="bar bar-header bar-positive">
			<button type="button" class="button button-clear" ng-click="closeModal(4)"><i class="icon ion-ios-arrow-left"></i></button>
 			<h1 class="title">댓글</h1>
		</div>
		
		<ion-content overflow-scroll="false" class="has-header golf-comment" delegate-handle="ModalScroll">			

			<div class="list comment-wrap">
				<div ng-repeat="comment in comments">
					<div ng-if="comment.thread.length == 1" class="item item-avatar item-button-right">
						<img ng-src="{{comment.thumbnail_image | local_img}}" class="comment-img"  ng-click="onItemProfile(comment)">
						<h3><strong>{{comment.username}}</strong></h3>
						<p ng-bind-html="comment.body | linky | nl2br"></p>
						<!-- <div>{{comment.created_at | f_formatdate}} · <a href="#/app/golfjoin/recomment/{{comment.field_id}}/{{comment.thread}}">답글 달기</a></div> -->
						<div>{{comment.created_at | f_formatdate}} · <a ng-click="openModal(6, comment)">답글 달기</a></div>
						<a class="button button-clear icon ion-more list-more" ng-click="openModal(5,comment)" ng-show="me.id==comment.user_id" ng-if="$index != 0"></a>
					</div>
					<div ng-if="comment.thread.length != 1" class="recomment-field">
						<!-- <a class="recomment nowrap" href="#/app/golfjoin/recomment/{{comment.field_id}}/{{comment.thread | parentThread}}"> -->
						<a class="recomment nowrap" ng-click="openModal(6, comment)">
							<img ng-src="{{comment.thumbnail_image | local_img}}"><!--   ng-click="onItemProfile(comment)" -->
							<strong>{{comment.username}}</strong>
							<span>{{comment.body}}</span>
						</a>
					</div>
				</div>
			</div>
			
		</ion-content>

		<form name="commentForm" ng-submit="commentSend(commentForm)" novalidate>
			<input type="hidden" name="reple_id" ng-model="replyformData.reple_id" value="">
			<ion-footer-bar class="bar-light item-input-inset message-footer" keyboard-attach>
				<label class="item-input-wrapper">
					<textarea name="body" ng-model="replyformData.body" value="" placeholder="댓글을 남겨주세요." required minlength="1" maxlength="1500" msd-elastic on-focus='inputUp()' on-blur='inputDown()'></textarea>
				</label>
				<div class="footer-btn-wrap">
					<button type="submit" class="button button-positive" ng-disabled="!replyformData.body || replyformData.body === ''">확인</button>
				</div>
			</ion-footer-bar>
		</form>

	</div>
</ion-modal-view>