<ion-modal-view class="ion-nifty-modal modal-pop-menu modal-customer-menu modal-c-golflist-menu">
	<div class="ion-modal-content-custom">
		<ion-content scroll="false">
			<ion-list class="text-center">
			
				<ion-item ng-click="onItemModify(shareItem)" ng-show="shareItem.poster_id == me.id">게시물 수정</ion-item>
				<ion-item ng-click="onItemCancel(shareItem, listIndex)" ng-show="shareItem.poster_id == me.id">게시물 마감</ion-item>
				<!-- <div class="row">
					<div class="col">그린피</div>
					<div class="col">{{shareItem.green_fee | numberformat}}</div>
				</div>
				<div class="row">
					<div class="col">카트피</div>
					<div class="col">{{shareItem.cart_fee | numberformat}}</div>
				</div>
				<div class="row">
					<div class="col">캐디피</div>
					<div class="col">{{shareItem.caddie_fee | numberformat}}</div>
				</div>
				<div class="row" style="color:blue;">
					<div class="col">합계</div>
					<div class="col">{{(shareItem.green_fee + shareItem.cart_fee + shareItem.caddie_fee) | numberformat}}</div>
				</div> -->
			</ion-list>
		</ion-content>
	</div>
</ion-modal-view>