<ion-modal-view class="ion-nifty-modal modal-pop-menu modal-customer-menu modal-c-golflist-share">
	<div class="ion-modal-content-custom">
		<ion-content scroll="false">
			<div class="item text-center modal-head">
				<strong>공유하기</strong>
			</div>
			<ion-list class="share-field">
				<ion-item ng-click="sharekakaotalk(shareItem)"><img ng-src="images/icon/icon_circle_kakao.png" />카카오톡</ion-item>
				<ion-item ng-click="sharenaverband(shareItem)"><img ng-src="images/icon/icon_circle_band.png" />밴드</ion-item>
				<ion-item ng-click="sharekakaostory(shareItem)"><img ng-src="images/icon/icon_circle_kakaostory.png" />카카오스토리</ion-item>
				<ion-item ng-click="sharefacebook(shareItem)"><img ng-src="images/icon/icon_circle_facebook.png" />페이스북</ion-item>
				<ion-item ng-click="sharenavercafe(shareItem)"><img ng-src="images/icon/icon_circle_navercafe.png" />네이버카페</ion-item>
				<ion-item ng-click="shareMain(shareItem)"><img ng-src="images/icon/icon_circle_etc.png" />기타</ion-item>
			</ion-list>
		</ion-content>
	</div>
</ion-modal-view>