<ion-modal-view class="ion-nifty-modal modal-pop-menu modal-customer-menu">
	<div class="ion-modal-content-custom">
		<ion-content scroll="false">
			<ion-list class="text-center">
				<ion-item class="item-text-wrap">
					<h2>회원가입</h2>
					<p>기존에 사용하시는 계정으로 간단하게 회원가입 하세요.</p>
				</ion-item>
			</ion-list>
			<ion-list class="text-center">
				<ion-item>
					<p><img ng-src="images/loginNaverButton.png" /></p>
					<p><img ng-src="images/loginNaverButton.png" /></p>
					<p><img ng-src="images/loginNaverButton.png" /></p>
				</ion-item>
			</ion-list>
		</ion-content>
	</div>
</ion-modal-view>