<ion-modal-view class="modal-pop-menu">
	<div class="ion-modal-content-custom">
		<div class="bar bar-header bar-positive">
			<button type="button" class="button button-clear" ng-click="closeModal(2)"><i class="icon ion-ios-arrow-left"></i></button>
 			<h1 class="title">예약하기</h1>
		</div>
		
		<ion-content overflow-scroll="false" class="has-header booking-view golf-posts premium-detail booking-reservation" ng-show="reservationInfo">
			<!-- ng-class="{'has-footer': !reservationInfo.payment}" -->

			<div class="list">
				<div class="item item-divider">
					<strong>예약내용</strong>
				</div>
				<div class="item item-text-wrap booking-content blue-line-bottom">
					<div class="item">
						<i class="icon ion-flag"></i> {{reservationInfo.name}} <span class="padding-left">{{reservationInfo.courses}}</span>
					</div>
					<div class="item">
						<i class="icon ion-clock"></i> {{reservationInfo.golf_time | f_formatdate : 1}}
					</div>
					<div class="item">
						<i class="icon">￦</i> {{reservationInfo.green_fee | numberformat}}원
					</div>
					<div class="item" ng-if="reservationInfo.explain">
						<i class="icon ion-clipboard"></i> {{reservationInfo.explain}}
					</div>
				</div>
				<div class="sponsor-wrap font16">
					<div class="sponsor-view">
						<div class="row light-bg">
							<div class="col col-33">결제방식</div>
							<div class="col bold">
								<span class="assertive font18" ng-if="reservationInfo.payment">선결제</span>
								<span ng-if="!reservationInfo.payment">현장결제</span>
								상품입니다.
							</div>
						</div>
						<div class="row light-bg">
							<div class="col col-33">예약인원</div>
							<div class="col" ng-if="reservationInfo.golf_people==3">
								<div class="btn-group-field">
									<div class="person-btn-group booking-person-btn-group">
										<ion-radio name="reqPeople" type="radio" value="4" ng-model="reservationInfo.reqPeople" required>&nbsp; 4명 &nbsp;</ion-radio>
										<ion-radio name="reqPeople" type="radio" value="3" ng-model="reservationInfo.reqPeople" required>&nbsp; 3명 &nbsp;</ion-radio>
									</div>
								</div>
							</div>
							<div class="col bold" ng-if="reservationInfo.golf_people==4">{{reservationInfo.golf_people}}명</div>
						</div>
						<div class="row light-bg">
							<div class="col col-33">결제금액</div>
							<div class="col bold">{{ reservationInfo.reqPeople * reservationInfo.green_fee | numberformat}}원</div>
						</div>
						<div class="row light-bg">
							<div class="col col-33">예약취소 시한</div>
							<div class="col assertive bold" ng-if="reservationInfo.golf_time">{{ (reservationInfo.golf_time | BetweenDay : 'canceled_time' : reservationInfo.w_2) | f_formatdate : 94 }}
							</div>
						</div>
						<div class="row light-bg">
							<div class="col col-33">위약안내</div>
							<div class="col">
								 <p>임박취소 및 미내장의 경우</p>
								 <p>-> 골프장 위약정책에 따라 위약금이 발생합니다.</p>
							</div>
						</div>
						<!-- <div class="row light-bg agreement-field">
							<div class="col col-15"><ion-checkbox ng-model="payForm.agreement" class="font14" ng-value="'1'" required></ion-checkbox></div>
							<div class="col font14 line-height31">
								위약규정 및 개인정보 제3자제공 동의
								<a ng-click="openModal(99, reservationInfo)">
									<button class="button button-small border-stable pull-right padding-left padding-right">보기</button>
								</a>
							</div>
						</div> -->
					</div>
				</div>
				
				<form name="paymentForm" id="paymentForm" novalidate>

				<div class="row light-bg agreement-field line-border-top">
					<div class="col col-15"><ion-checkbox ng-model="payForm.agreement" class="font14" ng-value="'1'" required></ion-checkbox></div>
					<div class="col font14 line-height31">
						위약규정 및 개인정보 제3자제공 동의
						<a ng-click="openModal(99, reservationInfo)">
							<button class="button button-small border-stable pull-right padding-left padding-right">보기</button>
						</a>
					</div>
				</div>
				<div class="item item-divider blue-line-top line-height31">
					<strong>예약자정보</strong>
					<a class="button button-small border-stable pull-right" href="#/app/setting">개인정보수정</a>
				</div>
				<div class="sponsor-wrap font16">
					<div class="sponsor-view">
						<div class="row light-bg">
							<div class="col col-33">이름</div>
							<div class="col">{{me.profile.realname}}</div>
						</div>
						<div class="row light-bg">
							<div class="col col-33">휴대폰</div>
							<div class="col">{{me.profile.phone | phoneNumber}}</div>
						</div>
					</div>
				</div>

				<div class="padding margin-top20 margin-bottom" ng-if="!reservationInfo.payment">
					<button class="button button-block button-assertive" ng-click="reservation(reservationInfo, payForm)">예약하기</button>
				</div>

				<div ng-if="reservationInfo.payment">

					
					<input type="hidden" name="CN_SVCID" id="CN_SVCID" ng-model="payForm.CN_SVCID" value="{{payForm.CN_SVCID}}">
					<input type="hidden" name="PAY_MODE" id="PAY_MODE" ng-model="payForm.PAY_MODE" value="{{payForm.PAY_MODE}}">
					<input type="hidden" name="Prdtprice" id="Prdtprice" ng-model="payForm.Prdtprice" value="{{payForm.Prdtprice}}">
					<input type="hidden" name="Tradeid" id="Tradeid" ng-model="payForm.Tradeid" value="{{payForm.Tradeid}}">
					<input type="hidden" name="Prdtnm" id="Prdtnm" ng-model="payForm.Prdtnm" value="{{ payForm.Prdtnm }}">
					<input type="hidden" name="Siteurl" id="Siteurl" ng-model="payForm.Siteurl" value="{{payForm.Siteurl}}">
					<input type="hidden" name="Userid" id="Userid" ng-model="payForm.Userid" value="{{payForm.Userid}}">

					<input type="hidden" name="Notiurl" id="Notiurl" ng-model="payForm.Notiurl" value="{{payForm.Notiurl}}">
					<input type="hidden" name="Okurl" id="Okurl" ng-model="payForm.Okurl" value="{{payForm.Okurl}}">
					<input type="hidden" name="Closeurl" id="Closeurl" ng-model="payForm.Closeurl" value="{{payForm.Closeurl}}">

					<input type="hidden" name="RA_SVCID" id="RA_SVCID" ng-model="payForm.RA_SVCID" value="{{payForm.RA_SVCID}}">
					<input type="hidden" name="LOGO_YN" id="LOGO_YN" ng-model="payForm.LOGO_YN" value="{{payForm.LOGO_YN}}">
					<input type="hidden" name="CALL_TYPE" id="CALL_TYPE" ng-model="payForm.CALL_TYPE" value="{{payForm.CALL_TYPE}}">

					<input type="hidden" name="MC_SVCID" id="MC_SVCID" ng-model="payForm.MC_SVCID" value="{{payForm.MC_SVCID}}">

					<!-- <input type="hidden" name="CASH_GB" id="CASH_GB" ng-model="payForm.CASH_GB" value="{{payForm.CASH_GB}}"> -->


					<div class="item item-divider blue-line-top line-height31">
						<strong>결제수단</strong>
					</div>
					<ion-list>
						<ion-item>
						<ion-radio ng-model="payForm.CASH_GB" ng-value="'CN'" required>신용카드</ion-radio>
						<ion-radio ng-model="payForm.CASH_GB" ng-value="'RA'" required>실시간계좌이체</ion-radio>
						<ion-radio ng-model="payForm.CASH_GB" ng-value="'MC'" required>휴대폰</ion-radio>
					</ion-item>
						<!-- <ion-checkbox ng-model="payForm.Payagreement" class="font14" required>결제서비스 이용약관에 동의합니다.</ion-checkbox> -->
					</ion-list>

					<!-- <div class="item text-center font13 item-border-top-width-zero item-padding-zero">
						<button class="button button-small button-stable border-stable font12 letter-spacing" ng-click="openModal(5)">결제 취소, 환불 및 위약안내</button>
						<button class="button button-small button-stable border-stable font12 letter-spacing" ng-click="openModal(6)">개인정보 제3자 정보제공 동의</button>
					</div> -->

					<div class="padding margin-top20 margin-bottom">
						<button class="button button-block button-assertive" ng-click="GolfPayment(paymentForm, reservationInfo, 1)">결제하기</button>
					</div>


					</form>

				</div>
				<div class="sponsor-wrap">
					<div class="sponsor-view">
						<div class="row text-center stable-bg bold blue-line-top">
							<div class="col col-15">안내</div>
							<div class="col col-34">취소시한</div>
							<div class="col">위약금</div>
						</div>
						<div class="row text-center light-bg">
							<div class="col col-15">주중</div>
							<div class="col col-34">{{reservationInfo.w_2}}</div>
							<div class="col">{{reservationInfo.w_3}}</div>
						</div>
						<div class="row text-center light-bg">
							<div class="col col-15">주말</div>
							<div class="col col-34">{{reservationInfo.w_5}}</div>
							<div class="col">{{reservationInfo.w_6}}</div>
						</div>
					</div>
				</div>
			</div>

			

		</ion-content>

		<!-- <div class="bar bar-footer bar-stable bookingjoin-footer" ng-if="!reservationInfo.payment">
			<div class="row text-center font16">
				<div class="col">
					<button class="button button-block button-assertive" ng-click="reservation(reservationInfo, payForm)">예약하기</button>
				</div>
			</div>
		</div> -->

	</div>
</ion-modal-view>