<ion-modal-view class="modal-pop-menu premium-wrap premium-popup-invitation">
	<div class="ion-modal-content-custom">
		<div class="bar bar-header bar-positive">
 			<h1 class="title">결제 취소, 환불 및 위약안내</h1>
			<button type="button" class="button button-clear icon ion-android-close" ng-click="closeModal(5)"></button>
		</div>
		
		<ion-content overflow-scroll="true" class="has-header">

			<div class="list font14 padding">
				<p>• 결제취소는 부킹일자의 “5일 17시 전”까지(주중, 주말) 가능하며, 즉시 환불처리됩니다.</p>
				<p>• 결제완료후 임박취소 또는 미내장시 골프장 위약정책에 따라 패널티가 부과됩니다.</p>
			</div>

		</ion-content>

	</div>
</ion-modal-view>